<% if seller_signed_in? %>
    <%= link_to houses_path ,class:"seller_panel" do %>
    <div class="col-sm-3 "style="background: white"id="seller_panel">
      <%= image_tag("all_houses.png", alt: "User image",height: "100",width: "100") %>
      See All Houses Listed
      <hr>

    </div>
    <%end%>

    <%= link_to houses_path(listing_display: '1') ,class:"seller_panel" do %>
<div class="col-sm-3 col-sm-offset-1"style="background: white"id="seller_panel">
  <%= image_tag("house.png", alt: "User image",height: "100",width: "100") %>
  Houses Up For Listing
  <hr>
</div>
    <%end%>

    <%= link_to houses_path(listing_display: '0') ,class:"seller_panel" do %>
    <div class="col-sm-3 "style="background: white;margin-top:2%;"id="seller_panel">
      <%= image_tag("house_not.png", alt: "User image",height: "100",width: "100") %>
      Houses Not Listed Yet
      <hr>
    </div>
    <%end%>

    <%= link_to new_house_path ,class:"seller_panel" do %>
        <div class="col-sm-3 col-sm-offset-1"style="background: white;margin-top:2%;">
          <%= image_tag("add_home.png", alt: "User image",height: "100",width: "100") %>
          Add House For Listing
          <hr>
        </div>
    <%end%>
<%end%>
