<header class="navbar navbar-fixed-top navbar-default">
  <div class="container">
    <%= link_to "Kindred", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Contact",   '#', id:"menu" %></li>
        <li><%= link_to "Help",   '#', id:"menu" %></li>
        <li><%= link_to "Log in", '#',  id:"menu" %></li>
        <li><%= link_to "About", '#',  id:"menu" %></li>
      </ul>
    </nav>
  </div>
</header>
