<header class="navbar navbar-fixed-top navbar-default" id="main_nav">
  <div class="container">
    <%= link_to "Kindred", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if customer_signed_in? %>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id=menu">
                <%= current_customer.name %>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to 'Customer Profile', edit_customer_registration_path ,id:"menu"%></li>
                <li><%= link_to 'Customer Log out', destroy_customer_session_path, method: :delete ,id:"menu"%></li>
              </ul>
            </li>
        <% else %>
            <li><%= link_to "Sign in with Facebook", customer_facebook_omniauth_authorize_path %></li>
            <li><%= link_to 'Customer Log In', new_customer_session_path,id:"menu" %></li>
            <li><%= link_to 'Customer Sign Up', new_customer_registration_path ,id:"menu"%></li>
        <% end %>
        <li><%= link_to "Contact",   '#', id:"menu" %></li>
        <li><%= link_to "Help",   '#', id:"menu" %></li>
        <li><%= link_to "About", '#',  id:"menu" %></li>
        <% if seller_signed_in? %>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id=menu">Seller Account
                <%= current_seller.name %>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to 'Seller Profile', edit_seller_registration_path ,id:"menu"%></li>
                <li><%= link_to 'Seller Log out', destroy_seller_session_path, method: :delete ,id:"menu"%></li>
                <li><%= link_to 'Add house ', new_house_path ,id:"menu"%></li>

              </ul>
            </li>
        <% else %>
            <li><%= link_to 'Seller Log In', new_seller_session_path,id:"menu" %></li>
            <li><%= link_to 'Seller Sign Up', new_seller_registration_path ,id:"menu"%></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
