<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>
  <body style="background: #f0f0f5">
  <%= render 'layouts/header' %>
  <div class="container">
    <div class="row">

    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
          <%= value %>
        </div>
    <% end %>

    <%= render 'layouts/side_menu' %>
    <%= yield %>
   </div>
  </div>